@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Confirmar correo electrónico";
}

<h1>@ViewData["Title"]</h1>
<div>
    <p>
        Gracias por confirmar tu correo electrónico.
    </p>
</div>
