@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Restablecer confirmación de contraseña";
}

<h1>@ViewData["Title"]</h1>
<p>
    Tu contraseña ha sido restablecida. Por favor haga <a asp-page="./Login">clic aquí para iniciar sesión</a>.
</p>
