<aside id="sidebar" class="left-bar">
    <div class="banner-sidebar">
        <img class="img-responsive" src="~/images/img-05.jpg" alt="#" />
        <h3>Final no apto para cardiacos..</h3>
    </div>
</aside>