<section>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="full">
                    <div class="main-heading sytle-2">
                        <h2>Video</h2>
                        <p>Video del Ultimo Campeonato</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="video_section_main theme-padding middle-bg vedio">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="full">
                    <div class="match_vedio">
                        <style type="text/css">
                            .facebook-responsive {
                                overflow: hidden;
                                padding-bottom: 56.25%;
                                position: relative;
                                height: 0;
                            }

                                .facebook-responsive iframe {
                                    left: 0;
                                    top: 0;
                                    height: 100%;
                                    width: 100%;
                                    position: absolute;
                                }
                        </style>
                        <!-- <img class="img-responsive" src="images/img-07.jpg" alt="#" /> -->
                        <!-- Your embedded video player code -->
                        <div class="facebook-responsive">
                            <iframe class="" src="https://www.facebook.com/plugins/video.php?href=https%3A%2F%2Fwww.facebook.com%2Fpacufutbol%2Fvideos%2F706715133054594%2F&show_text=0&width=560" width="500" height="280" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allowFullScreen="true"> </iframe>
                        </div>


                    </div>
                </div>
            </div>
        </div>
    </div>
</section>