@model NoticiasModel

@{
    ViewData["Title"] = "Nueva Noticias - Administrador";
    Layout = "~/Views/Shared/_LayoutEditar.cshtml";

}

<style type="text/css">
    .input-file-container {
        position: relative;
        width: 225px;
    }

    .js .input-file-trigger {
        display: block;
        padding: 14px 45px;
        background: #d8302f;
        color: #fff;
        font-size: 1em;
        transition: all .4s;
        cursor: pointer;
    }

    .js .input-file {
        position: absolute;
        top: 0;
        left: 0;
        width: 225px;
        opacity: 0;
        padding: 14px 0;
        cursor: pointer;
    }

        .js .input-file:hover + .input-file-trigger,
        .js .input-file:focus + .input-file-trigger,
        .js .input-file-trigger:hover,
        .js .input-file-trigger:focus {
            background: #333;
            color: #fff;
        }

    .file-return {
        margin: 0;
    }

        .file-return:not(:empty) {
            margin: 1em 0;
        }

    .js .file-return {
        font-style: italic;
        font-size: .9em;
        font-weight: bold;
    }

        .js .file-return:not(:empty):before {
            content: "Selected file: ";
            font-style: normal;
            font-weight: normal;
        }
</style>
<section id="top">
    <partial name="_Nav" />
    <div class="inner-page-banner">
        <div class="container">
        </div>
    </div>
    <div class="inner-information-text">
        <div class="container">
            <h3><i class="fa fa-user"></i> Administrador</h3>
            <ul class="breadcrumb">
                <li><a href="@Url.Action("ListaNoticias","Home")">Noticias</a></li>
                <li class="active">Crear Noticias</li>
            </ul>
        </div>
    </div>
</section>

<section id="contant" class="contant main-heading team">
    <div class="row">
        <div class="container">
            <div class="col-md-12">
                <div class="feature-post small-blog">
                    <div class="feature-img">
                        <h1> Crear Noticia</h1>
                    </div>
                    <div class="feature-cont">
                        <form asp-controller="Home" asp-action="CrearNoticia" id="myForm" role="form" method="post" accept-charset="utf-8" enctype="multipart/form-data"style="text-align: left;padding: 15px;">

                            <div class="form-group">
                                <label>Titulo</label>
                                @*@Html.TextAreaFor(m => m.Texto, new { @class = "form-control", @rows = "8" })*@
                                <input type="text" class="form-control" id="Titulo" name="Titulo" placeholder="Ejem. Campeones apertura 2020" required>
                                <small id="emailHelp" class="form-text text-muted">Ingrese el Titulo de la nueva Noticia</small>
                            </div>
                            <div class="form-group">
                                <label>Imagen Slider</label>
                                @*<input type="file" name="ImageFile" id="ImageFile" class="" accept=".png, .jpg, .jpeg" required />*@
                                @*<small id="emailHelp" class="form-text text-muted">Seleccione el archivo de Imagen.</small>*@
                                @*@Html.TextAreaFor(m => m.Texto, new { @class = "form-control", @rows = "8" })*@
                                @*<input type="text" class="form-control" id="FotoUrl" name="FotoUrl" placeholder="Ejem. Campeones apertura 2020" required>*@
                                <div class="input-file-container">
                                    <input class="input-file"  name="ImageFile" id="ImageFile" type="file" accept=".png, .jpg, .jpeg" required>
                                    <label tabindex="0" for="my-file" class="input-file-trigger">Elija una imagen...</label>
                                </div>
                                <small id="emailHelp" class="form-text text-muted file-return" >Seleccione el archivo de Imagen. </small>
                                


                            </div>
                           @* <div class="form-group">
                                <label>Url de la Imagen</label>
                               <!--@Html.TextAreaFor(m => m.Texto, new { @class = "form-control", @rows = "8" })-->
                                <input type="text" class="form-control" id="FotoUrl " name="FotoUrl" placeholder="Ejem. http://imagestock.com/82774.png" required>
                                <small id="emailHelp" class="form-text text-muted">Ingrese la url de la Imagen</small>
                            </div>*@
                            <div class="form-group">
                                <label>Texto Descriptivo</label>
                                @*@Html.TextAreaFor(m => m.Texto, new { @class = "form-control", @rows = "8" })*@
                                <textarea type="" class="form-control" id="TextoCorto" name="TextoCorto" placeholder="Ejem. Con goles de la estrella del equipo ganaron..." rows="4" maxlength="200" required></textarea>
                                <small id="emailHelp" class="form-text text-muted">Ingrese el Texto descriptivo de la noticia 200 caracteres Maximo.</small>
                            </div>
                            <div class="form-group">
                                <label>Texto</label>
                                @*@Html.TextAreaFor(m => m.Texto, new { @class = "form-control", @rows = "8" })
                                <textarea type="" class="form-control" id="Texto " name="Texto" placeholder="Ejem. Con goles de la estrella del equipo ganaron..." rows="8" required></textarea>*@
                                @Html.TextAreaFor(model => model.Texto, new { @class = "form-control", @row = 8, placeholder="Ejem. Con goles de la estrella del equipo ganaron...", @required = "required"}) 
                                <small id="emailHelp" class="form-text text-muted">Ingrese el Texto completo de la Noticia</small>
                            </div>
                            <div class="form-group">
                                <label>Autor</label>
                                @*@Html.TextAreaFor(m => m.Texto, new { @class = "form-control", @rows = "8" })*@
                                <input type="text" class="form-control" id="Autor " name="Autor" placeholder="Ejem. David Medina." required>
                                <small id="emailHelp" class="form-text text-muted">Ingrese el Nombre del Autor de la Noticia</small>
                            </div>
                            
                            
                            <!--<div id="summernote"></div>-->

                            <button type="submit" class="btn btn-primary"><i class="fa fa-save"></i> Guardar</button>
                            <a href="@Url.Action("ListaNoticias","Home")" class="btn " style="margin-left:15px;"><i class="fa fa-close"></i> Cancelar</a>
                        </form>


                        
                    </div>
                </div>
            </div>

           
        </div>
    </div>
</section>

@section Scripts {
<script>
     $('#Texto').summernote({
  height: 300,                 // set editor height
  minHeight: null,             // set minimum height of editor
  maxHeight: null,             // set maximum height of editor
  focus: true,                  // set focus to editable area after initializing summernote
  lang: 'es-ES' // default: 'en-US'
     });


    document.querySelector("html").classList.add('js');

    var fileInput = document.querySelector(".input-file"),
        button = document.querySelector(".input-file-trigger"),
        the_return = document.querySelector(".file-return");

    button.addEventListener("keydown", function (event) {
        if (event.keyCode == 13 || event.keyCode == 32) {
            fileInput.focus();
        }
    });
    button.addEventListener("click", function (event) {
        fileInput.focus();
        return false;
    });
    fileInput.addEventListener("change", function (event) {
        the_return.innerHTML = this.value;
    });  

</script>
}