@{
    DateTime fecha = DateTime.Now;
    ViewData["Title"] = "Bienvenido Pagina de Inicio - Sport Tuxtla 2020";

}
<section id="top">
    <!--Muestra la Navegacion de la Pagina-->
    <partial name="_Nav" />
    <!--Muestra el Slider Principal de la Pagina-->
    <partial name="~/Views/Shared/Principal/_Slider.cshtml" />
</section>
<!--Se muestra si hay algun evento importante si no se oculpa-->
    <partial name="~/Views/Shared/Principal/_Evento.cshtml" />
<section id="contant" class="contant">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-sm-4 col-xs-12">
                <!--Se muestra la Informacion de la Noticia destacada o evento destacado-->
                    <partial name="~/Views/Shared/Principal/_InfoEvento.cshtml" />
                <!--Se muestra los Principales Encuentros-->
                    <partial name="~/Views/Shared/Principal/_Encuentros.cshtml" />
                <!--Se muestra la tabla de posiciones del torneo mas importante-->
                    <partial name="~/Views/Shared/Principal/_Tabla.cshtml" />
                <!--Se muestra Noticias destacadas-->
                    <partial name="~/Views/Shared/Principal/_OtrosTitulares.cshtml" />
            </div>
            <div class="col-lg-8 col-sm-8 col-xs-12">
                <!--Se muestran las Noticias mas recientes-->
                    <partial name="~/Views/Shared/Principal/_Titulares.cshtml" />
            </div>
        </div>
    </div>
</section>
<!--Se muestra el video principal-->
    <partial name="~/Views/Shared/Principal/_Video.cshtml" />
<!--Se muestran los jugadores destacados o Equipos destacados-->
    <partial name="~/Views/Shared/Principal/_Destacados.cshtml" />